body { background-color: #f7f7f9; }
header { background-color: #fff; }
/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.title {
  color: #707070;
  font-weight: bold;
}
.widget .title {
  margin-right: 5px;
  text-align: right;
}

.number, .currency {
  text-align: right;
}

.widget .caption {
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: right;
  caption-side: bottom;
}

.frame {
  margin: 0 auto;
  padding: 3em;
  width: 90%;
  background-color: #fff;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
}

.table.dependents {
  margin-top: 15px;
  /* width: 400px; */
}

.infobox {
  /* width: 50%; */
  /* display: inline-block; */
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  padding: 5px;
  color: white;
}

.dashboard .infobox {
  margin-left: 20%;

}

.infobox.net-pay { background-color: #ff8f1c; }
.infobox.benefits { background-color: #999; }
.infobox.discounts { background-color: #ed2024; }

.infobox .value {
  font-size: 1.5em;
  font-weight: bold;
  text-align: right;
}

.infobox .symbol {vertical-align: super;font-size: small;}

.chartbox { padding-top: 15px;  }

.container.buttons { text-align: right; }

button + button {
  margin-left: 20px;
}

.modal-dialog { margin-top: 6rem; }